<div class="user-list">
  <div class="user-list__table">
    <table class="table table_lazyload">
      <thead class="table__thead" (click)="handlerSort($event)">
      <tr class="row row_type_head">
        <th class="row__id active asc" data-sort-by="id" data-direction-by="asc">№</th>
        <th class="row__name" data-sort-by="name" data-direction-by="asc">Имя</th>
        <th class="row__email" data-sort-by="email" data-direction-by="asc">Email</th>
        <th class="row__birth" data-sort-by="birth" data-direction-by="asc">День рождения</th>
        <th class="row__date" data-sort-by="date" data-direction-by="asc">Расчетное время</th>
        <th class="row__delete">Удалить</th>
        <th class="row__edit">Редактировать</th>
      </tr>
      </thead>
      <tbody class="table__tbody"
        (click)="handlerControl($event)"
        (scroll)="handlerScroll($event)"
        (mousemove)="handlerMouse($event)"
        (mouseover)="handlerMouse($event)"
        (mouseout)="handlerMouse($event)">
      <tr *ngIf="newItem" class="row row_type_body row_display_type_row">
        <td class="row__id">
          <a class="row__link" href="#/user/813">{{ newItem.id }}</a>
        </td>
        <td class="row__name" data-tooltip="name">{{ newItem.name }}</td>
        <td class="row__email" data-tooltip="email">{{ newItem.email }}</td>
        <td class="row__birth">{{ newItem.startDate }}</td>
        <td class="row__date" livetime
            [startDate]="newItem.birth"
            [finishDate]="newItem.date"
            [counterTag]="leftTime"
            [progressBarTag]="overlay"
        >
          <div #leftTime class="left-time"></div>
          <div #overlay class="overlay"></div>
        </td>
        <td class="row__del">
          <a class="row__button delete-btn" >Удалить</a>
        </td>
        <td class="row__edit">
          <a class="row__button edit-btn">Редактировать</a>
        </td>
      </tr>
      <tr *ngFor="let user of userList" class="row row_type_body row_display_type_row">
        <td class="row__id">
          <a class="row__link" href="#/user/813">{{ user.id }}</a>
        </td>
        <td class="row__name" data-tooltip="name">{{ user.name }}</td>
        <td class="row__email" data-tooltip="email">{{ user.email }}</td>
        <td class="row__birth">{{ user.startDate }}</td>
        <td class="row__date" livetime
            [startDate]="user.birth"
            [finishDate]="user.date"
            [counterTag]="leftTime"
            [progressBarTag]="overlay"
        >
          <div #leftTime class="left-time"></div>
          <div #overlay class="overlay"></div>
        </td>
        <td class="row__del">
          <a class="row__button delete-btn" >Удалить</a>
        </td>
        <td class="row__edit">
          <a class="row__button edit-btn">Редактировать</a>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="user-list__tooltip">
    <div class="tooltip "></div>
  </div>
  <div class="user-list__options">
    <div class="option">
      <button class="option__add-user" (click)="addUser($event)">Добавить клиента</button>
    </div>
  </div>
</div>
