<div class="header">
  <div class="header__menu">
    <div class="header-menu">
      <div class="header-menu__switch">
        <div class="switch-notify">
          <input type="checkbox" class="switch-notify__checkbox" id="switch" (change)="handlerNotifySwitch($event)">
          <label class="switch-notify__label" for="switch" #TNotifySwitch>Выключить оповещение</label>
        </div>
      </div>
      <div class="header-menu__language">
        <div class="language" (click)="handlerChangeLanguage($event)">
          <a class="language__link" [ngClass]="{'language__link_active': en}" data-language="en">EN</a>
          <a class="language__link" [ngClass]="{'language__link_active': ru}" data-language="ru">RU</a>
        </div>
      </div>
      <div class="header-menu__search">
        <div class="search">
          <input class="search__input" name="search">
          <button class="search__button" #TSearchBtn (click)="handlerSearch($event)">Поиск</button>
        </div>
      </div>
    </div>
  </div>
</div>
