.modal-window {
  position: absolute;
  z-index: 3;
  top: -50%;
  left: 50%;
  background: #333;
  padding: 20px;
  width: 680px;
  transform: translate(-50%, -50%);
  transition: all .65s;
  box-shadow: 0 0 30px rgba(0, 0, 0, 1);
}

.modal-window_show {
  top: 50%;
}

.modal-window__caption {
  text-align: center;
  color: #ddd;
  font-size: 22px;
  min-width: 100%;
}

.modal-window__group {
  margin: 10px;
}

.modal-window__group_control {
  clear: both;
  min-width: 100%;
  display: flex;
  justify-content: center;
}

.modal-window-group {}


.modal-window-group-picture {
  display: table;
  position: relative;
  overflow: hidden;
  margin: 0 auto;
}

.modal-window-group-picture .picture {
  max-width: 100%;
}

.modal-window-group-picture  .resize-area {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 999;
  width: 135px;
  height: 195px;
  border: 2px solid #333;
}

.modal-window-group-picture  .resize-area:active {
  cursor: pointer;
}

.resize-area .resize-handle {
  position: absolute;
  display: block;
  width: 12px;
  height: 12px;
  background:  #999;
  z-index: 999;
}

.resize-area .resize-handle:active {
  background: #308b59;
}

.resize-area .resize-handle-n {
  top: -6px;
  left: 50%;
  margin-left: -6px;
  cursor: n-resize;
}

.resize-area .resize-handle-w {
  top: 50%;
  left: -6px;
  margin-top: -6px;
  cursor: w-resize;
}

.resize-area .resize-handle-e {
  top: 50%;
  right: -6px;
  margin-top: -6px;
  cursor: e-resize;
}

.resize-area .resize-handle-s {
  bottom: -6px;
  left: 50%;
  margin-left: -6px;
  cursor: s-resize;
}

.resize-area .resize-handle-nw {
  top: -6px;
  left: -6px;
  cursor: nw-resize;
}

.resize-area .resize-handle-sw {
  bottom: -6px;
  left: -6px;
  cursor: sw-resize;
}

.resize-area .resize-handle-ne {
  top: -6px;
  right: -6px;
  cursor: ne-resize;
}

.resize-area .resize-handle-se {
  bottom: -6px;
  right: -6px;
  cursor: se-resize;
}



.modal-window-group__label {
  display: block;
  color: #ddd;
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 14px;
}

.modal-window-group__input {
  padding: 6px 10px;
  color: #333;
  background: #fff;
  border: 2px solid #fff;
  width: 170px;
  height: 25px;
  display: block;
  margin-bottom: 10px;
}

.modal-window-group__input.error {
  border-color: red !important;
}

.modal-window-group__input.success {
  border-color: green;
}

.modal-window-group__input:focus {
  outline: 0;
}


.modal-window-group__button {
  color: #ddd;
  background: #555;
  border: 0;
  padding: 10px 10px;
  font-size: 14px;
  margin: 0 5px;
  width: 93px;
  cursor: pointer;
}

.modal-window-group__button:hover {
  background: #222;
}

.modal-window-group__button:focus {
  outline: 0;
}

.modal-window-group__button_control {
  display: table;
  margin: 0 auto;
}
