<div class="modal-window" [ngClass]="{'modal-window_show': active}">
  <h3 class="modal-window__caption" #TCaption>Загрузить изображение</h3>
  <div class="modal-window__group">
    <div class="modal-window-group">
      <label class="modal-window-group__label" #TPicture>Загрузить</label>
      <div class="modal-window-group__resize-layout">
        <div class="resize-area" #area></div>
        <div class="modal-window-group-picture">
          <img class="picture" src="" alt="" #picture>
          <div class="picture-resize picture-resize_display-none">
            <span class="resize-handle resize-handle-nw"></span>
            <span class="resize-handle resize-handle-ne"></span>
            <span class="resize-handle resize-handle-se"></span>
            <span class="resize-handle resize-handle-sw"></span>
          </div>
        </div>
      </div>
      <input type="file" class="modal-window-group__input" (change)="handlerUploadFile($event)">
    </div>
  </div>
  <div class="modal-window__group modal-window__group_control">
    <div class="modal-window-group modal-window-group_control" (click)="handlerControls($event)">
      <button class="modal-window-group__button add-btn" #TSave>Сохранить</button>
      <button class="modal-window-group__button cancel-btn" #TCancel>Отмена</button>
    </div>
  </div>
</div>
